{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}
  <section id="banner" class="clearfix">
  </section>
  <div class="content">
  <section id="main-info" class="clearfix">
    <div class="info-inner">
      {{ self.body|richtext }}
    </div>
  </section>
  </div>

{% endblock %}

{% block extra_js %}

{% endblock %}
