{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
{% endblock %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="content">
  <section id="speakers">
    <h2>Speakers</h2>
    <table class="plain">
    {% for person in self.speakers.all %}
      <tbody>
          <tr><th>{{ person.name }}</th></tr>
          <tr><td>{% image person.image width-350 %}</td></tr>
          <tr><td>{{ person.topic }}</td></tr>
          <tr><td>On {{ person.on_date|date:"Y-m-d" }}</td></tr>
          <tr><td>Start {{ person.start_dt|date:"Y-m-d h:ia e" }}</td></tr>
          <tr><td>Finish {{ person.finish_time|date:"h:ia e" }}</td></tr>
          <tr><td>{{ person.details|richtext }}</td></tr>
          <tr><td>Last updated {{ person.last_updated_dt|date:"Y-m-d h:ia e T" }}</td></tr>
      </tbody>
    {% endfor %} 
    </table>
  </section>
</div>
{% endblock %}
